.TodoItem {
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin: 6px 0;
  padding: 10px 5px;
  border-top: 1px solid var(--background05);
  border-left: 1px solid var(--background05);
  border-bottom: 2px solid var(--background);
  border-right: 2px solid var(--background);
  border-radius: 10px;
  transition: 400ms;
}

.TodoItem:hover {
  background: var(--primary05);
  box-shadow: 0 0 10px var(--highlighted),
  0 0 20px var(--highlighted),
  0 0 40px var(--highlighted);
}

.TodoItem .TodoItem__todo {
  display: flex;
  align-items: center;
}

.TodoItem p {
  margin: 0 5px;
}

.TodoItem:hover p {
  color: var(--light);
}

.TodoItem-p--completed {
  text-decoration: line-through;
}

.Icon {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  color: white;
  transform: scale(1);
  transition: transform 400ms;
}

.Icon.Icon-check {
  color: grey;
}

.Icon.Icon-check--active {
  padding: 5px;
  font-size: 24px;
  color: yellowgreen;
  text-shadow: 0 0 20px greenyellow,
  0 0 40px greenyellow,
  0 0 80px greenyellow,
  0 0 160px greenyellow,
  0 0 320px greenyellow,
  0 0 400px greenyellow;
}

.Icon.Icon-delete {
  color: var(--light);
}

.Icon.Icon-delete:hover {
  color: red;
  transform: scale(1.5);
}
