.TodoForm {
  position: relative;
  width: 320px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 40px 40px;
  background: var(--background);
  border-radius: 10px;
  box-shadow: 0 0 15px var(--background),
  0 0 30px var(--background),
  0 0 60px var(--background);
}

.TodoForm label {
  font-size: 2rem;  
  margin-bottom: 25px;
}

.TodoForm span {
  color: var(--light);
  font-weight: 900;
}

.TodoForm textarea {
  width: 280px;
  height: 18rem;
  font-size: 1.6rem;
  background: var(--background05);
  padding: 5px 10px;
  margin: 0 5px;
  color: white;
  border: 1px solid var(--highlighted);
  border-radius: 10px;
  resize: none;
  box-shadow: 0 0 10px var(--highlighted),
  0 0 20px var(--highlighted),
  0 0 40px var(--highlighted);
}

.TodoForm textarea::placeholder {
  color: var(--light);
  text-align: center;  
}

.TodoForm-buttons {
  width: 100%;
  margin: 25px 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.TodoForm-buttons__button {
  padding: 10px;
  border-radius: 15px;
  font-size: 1.8rem;
  width: 40%;
  border: none;
  cursor: pointer;
}

.TodoForm-buttons--cancel {
  background: var(--primary05);
  color: white;
}

.TodoForm-buttons--submit {
  background: var(--light);
  color: var(--primary);
}