.CreateTodoButton {
  position: sticky;
  align-self: flex-end;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 10vw;
  padding: 15px;
  font-size: 24px;
  color: var(--highlighted);
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(0deg);
  cursor: pointer;
}

.CreateTodoButton:hover {
  box-shadow: 0 0 10px var(--highlighted),
  0 0 20px var(--highlighted),
  0 0 40px var(--highlighted);
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}